.sidebar-link {
  font-size: 1.15rem;
  font-weight: 600;
  color: #343a40;
  padding: 12px 16px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  background-color: #e9ecef;
  color: #0d6efd;
  font-size: 1.17rem;
}
.hover-shadow:hover {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.25) !important;
  transform: translateY(-2px);
  transition: 0.2s ease-in-out;
}
.hover {
  cursor: pointer; 
}

